.tagFilterContainer {
  flex-wrap: wrap;
  padding-bottom: 40px;
  align-items: flex-end;
}

.tagButton {
  color: #e7e7e7;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  font-size: 34px;
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--arrow);
    color: var(--off-white);
  }
}

.active {
  border: none;
  color: var(--off-white);
  background-color: var(--accent-color);
}

.clearButton {
  color: #e7e7e7;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  font-size: 34px;
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--arrow);
    color: var(--off-white);
  }
}
